{% extends "layout.html" %}
{% block page_title %}Filter samples{% endblock %}

{% block content %}
  <ol class="breadcrumb">
    <li>
      <a href="/">Projects</a>
    </li>
    <li>
      <a href="/project/{{ project.id }}">{{ project.name }}</a>
    </li>
    <li>
      <a href="/project/{{ project.id }}/study/{{ study.id }}">{{ study.name }}</a>
    </li>
    <li>
      <a href="/project/{{ project.id }}/study/{{ study.id }}/samples">Samples</a>
    </li>
    <li class="active">
      Filter samples
    </li>
  </ol>

  <h1 class="add-bottom-margin">
    {{ variables.count }} variables
  </h1>

  <div class="panel panel-default filter-panel">
    <div class="panel-heading">
      <div class="panel-title">Filter</div>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-4">
          <h4 class="remove-top-margin">Categorical</h4>
          <ul class="list-group" data-module="label-toggle">
            {% for v in variables.categorical %}
              <li class="list-group-item">
                <a href="#{{ v.name|slug }}" data-toggle="modal" data-target="#{{ v.name|slug }}">
                  <span class="glyphicon glyphicon-plus"></span>{{ v.name }}
                </a>
                <span class="pull-right text-muted">{{ v.allowedValues|length }} {{'value'|pluralize(v.allowedValues|length)}}</span>
                <div class="modal" tabindex="-1" role="dialog" id="{{ v.name|slug }}">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Filter by ‘{{ v.name }}’</h4>
                      </div>
                      <div class="modal-body">
                        <div class="row">
                        {% for allowed in v.allowedValues %}
                            <div class="col-md-4">
                              <div class="checkbox" style="margin: 0">
                                <label class="category-filter-label js-label-toggle">
                                  <input type="checkbox"> {{ allowed }}
                                </label>
                              </div>
                            </div>
                        {% endfor %}
                        </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default add-right-margin" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-primary">Add filter</button>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
            {% endfor %}
          </ul>
        </div>
        <div class="col-md-4">
          <h4 class="remove-top-margin">Text</h4>
          <ul class="list-group">
            {% for v in variables.text %}
              <li class="list-group-item">
                <a href="#"><span class="glyphicon glyphicon-plus"></span>{{ v.name }}</a>
              </li>
            {% endfor %}
          </ul>
        </div>
        <div class="col-md-4">
          <h4 class="remove-top-margin">Numeric</h4>
          <ul class="list-group">
            {% for v in variables.numeric %}
              <li class="list-group-item">
                <a href="#"><span class="glyphicon glyphicon-plus"></span>{{ v.name }}</a>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
    <div class="panel-footer text-center">
      <p class="text-muted add-label-margin">2 filters selected</p>
      <input type="submit" class="btn btn-block btn-primary filter-action" value="Filter">
    </div>
  </div>


{% endblock %}
