{% extends "layout.html" %}
{% block page_title %}{{ user.name }}{% endblock %}

{% block content %}
  <ol class="breadcrumb">
    <li class="active">
      Case list
    </li>
  </ol>

  <h1>Case list</h1>
  <a href="#">Archived cases</a>

  <table class="table table-bordered add-top-margin">
    <thead>
      <tr class="table-header">
        <th>Family ID</th>
        <th>Participant ID</th>
        <th>Date</th>
        <th>Report ID</th>
        <th>Files</th>
        <th>GMC</th>
      </tr>
    </thead>
    <tbody>
      {% for i in range(0, 50) %}
        <tr>
          <td>5010003{{ i }}</td>
          <td><a href="#">5010003{{ i }}</a></td>
          <td>11 July 2016</td>
          <td>OPA-132-1</td>
          <td>0 files</td>
          <td>GOSH</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
