{% extends "layout.html" %}
{% block page_title %}{{ project.name }} - Projects{% endblock %}

{% block content %}
  <ol class="breadcrumb">
    <li>
      <a href="/">{{ user.name }}</a>
    </li>
    <li class="active">
      {{ project.name }}
    </li>
  </ol>

  <h1>
    <span class="text-muted format">Project</span><br />
    {{ project.name }}
  </h1>
  <p class="lead">
    {{ project.description }}
  </p>

  <ul>
    {% for study in project.studies %}
      <li>
        <a href="/project/{{ project.id }}/study/{{ study.id }}">{{ study.name }}</a>
      </li>
    {% endfor %}
  </ul>
{% endblock %}
