{% extends "layout.html" %}
{% block page_title %}{{ project.name }} - Projects{% endblock %}

{% block content %}
  <ol class="breadcrumb">
    <li>
      <a href="/">Projects</a>
    </li>
    <li class="active">
      {{ project.name }}
    </li>
  </ol>

  <h1>
    <span class="text-muted format">Project</span><br />
    {{ project.name }}
  </h1>
  <p class="lead">
    {{ project.description }}
  </p>

  <table class="table table-bordered">
    <thead>
      <tr class="table-header">
        <th>Study</th>
        <th>Date</th>
        <th>Files</th>
        <th>Samples</th>
        <th>Jobs</th>
        <th>Individuals</th>
      </tr>
    </thead>
    <tbody>
      {% for study in project.studies %}
        <tr>
          <td>
            <a href="/project/{{ project.id }}/study/{{ study.id }}">{{ study.name }}</a>
          </td>
          <td>
            {{ studies[loop.index - 1].status.date|date }}
          </td>
          <td>
            <a href="/project/{{ project.id }}/study/{{ study.id }}/files">
              {{ studies[loop.index - 1].files }} {{ "file"|pluralize(studies[loop.index - 1].files) }}
            </a>
          </td>
          <td>
            <a href="/project/{{ project.id }}/study/{{ study.id }}/samples">
              {{ studies[loop.index - 1].samples }} {{ "sample"|pluralize(studies[loop.index - 1].samples) }}
            </a>
          </td>
          <td>
            <a href="/project/{{ project.id }}/study/{{ study.id }}/jobs">
              {{ studies[loop.index - 1].jobs }} {{ "job"|pluralize(studies[loop.index - 1].jobs) }}
            </a>
          </td>
          <td>
            {{ studies[loop.index - 1].individuals }} {{ "individual"|pluralize(studies[loop.index - 1].individuals) }}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
