{% extends "layout.html" %}
{% block page_title %}{{ study.name }} samples{% endblock %}

{% block content %}
  <ol class="breadcrumb">
    <li>
      <a href="/">Projects</a>
    </li>
    <li>
      <a href="/project/{{ project.id }}">{{ project.name }}</a>
    </li>
    <li>
      <a href="/project/{{ project.id }}/study/{{ study.id }}">{{ study.name }}</a>
    </li>
    <li class="active">
      Samples
    </li>
  </ol>

  <h1 class="add-bottom-margin">
    {{ samples|length }} {{'sample'|pluralize(samples|length)}}
  </h1>

  <div class="row">
    <div class="col-md-3">
      {% if activeFilters|objectLength > 0 %}
      <div class="panel panel-default">
        <div class="panel-heading">Active filters</div>
        <ul class="list-group">
          {% for activeFilterName, activeFilter in activeFilters %}
            <li class="list-group-item">
              <a href="{{ activeFilter.filterQuery }}" class="btn btn-default">
                <span class="glyphicon glyphicon-remove add-right-margin"></span>
                {{ activeFilterName }}: {{ activeFilter.value }}
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}

      {% for type, values in filters %}
        <div class="panel panel-default" data-module="toggle">
          <div class="panel-heading js-toggle" role="button">
            <strong>{{ type }}</strong><br />
            {{ values|objectLength }} {{ 'value'|pluralize(values|objectLength) }}
          </div>
          <ul class="list-group js-toggle-target">
            {% if values|objectLength < 50 %}
              {% for value, details in values %}
                <li class="list-group-item">
                  <a href="{{ details.filterQuery }}">{{ value }}</a>
                  <span class="pull-right">{{ details.count }}</span>
                </li>
              {% endfor %}
            {% else %}
              <li class="list-group-item">
                {{ values|objectLength }} unique values
              </li>
            {% endif %}
          </ul>
        </div>
      {% endfor %}
    </div>
    <div class="col-md-9">
      <table class="table table-bordered" data-module="filterable-table">
        <thead>
          <tr class="table-header">
            <th>Name</th>
            <th>Date</th>
            <th>Family</th>
            <th>Mother</th>
            <th>Father</th>
          </tr>
          <tr class="if-no-js-hide table-header-secondary">
            <td colspan="100">
              <form>
                <label for="gene-filter" class="rm">Filter samples</label>
                <div class="input-group">
                  <input id="gene-filter" type="text" class="form-control normal js-filter-table-input" placeholder="Filter samples">
                  <span class="input-group-addon js-filter-table-count" data-singular="sample" data-plural="samples">
                      {{ samples|length }} {{"sample"|pluralize(samples|length)}}
                  </span>
                </div>
              </form>
            </td>
          </tr>
        </thead>
        <tbody>
          {% for sample in samples %}
            <tr>
              <td>
                <a href="/project/{{ project.id }}/study/{{ study.id }}/sample/{{ sample.id }}">{{ sample.name }}</a>
              </td>
              <td>
                {{ sample.status.date|date }}
              </td>
              <td>
                {{ sample.annotations.family }}
              </td>
              <td>
                {{ sample.annotations.motherId }}
              </td>
              <td>
                {{ sample.annotations.fatherId }}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}
