{% extends "layout.html" %}
{% block page_title %}{{ study.name }} - Studies{% endblock %}

{% block content %}
  <ol class="breadcrumb">
    <li>
      <a href="/">Projects</a>
    </li>
    <li>
      <a href="/project/{{ project.id }}">{{ project.name }}</a>
    </li>
    <li class="active">
      {{ study.name }}
    </li>
  </ol>

  <h1>
    <span class="text-muted format">Study</span><br />
    {{ study.name }}
  </h1>
  <p class="lead">{{ study.description }}</p>

  <ul class="list-group">
    <li class="list-group-item">
      <a href="/project/{{ project.id }}/study/{{ study.id }}/samples">{{ summary.samples }} {{'sample'|pluralize(summary.samples)}}</a>
    </li>
    <li class="list-group-item">
      <a href="/project/{{ project.id }}/study/{{ study.id }}/jobs">{{ summary.jobs }} {{'job'|pluralize(summary.jobs)}}</a>
    </li>
    <li class="list-group-item">
      <a href="/project/{{ project.id }}/study/{{ study.id }}/files">{{ summary.files }} {{'file'|pluralize(summary.files)}}</a>
    </li>
  </ul>
{% endblock %}
