{% extends "layout.html" %}
{% block page_title %}{{ study.name }} - Studies{% endblock %}

{% block content %}
  <ol class="breadcrumb">
    <li>
      <a href="/">{{ user.name }}</a>
    </li>
    <li>
      <a href="/project/{{ project.id }}">{{ project.name }}</a>
    </li>
    <li class="active">
      {{ study.name }}
    </li>
  </ol>

  <h1>{{ study.name }}</h1>
  <p class="lead">{{ study.description }}</p>


  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Name</th>
      </tr>
    </thead>
    <tbody>
      {% for file in files %}
        <tr>
          <td>
            {{ file.path }}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
